body{
    background-color: var(--color5);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
:root{
    --color1: rgb(237, 82, 108); 
    --color2: rgb(59, 57, 57);
    --color3: white;
    --color4: #2a2a2a;
    --color5:rgb(31, 29, 29); 
     --color6: rgb(116, 113, 113);
}
@font-face{
    font-family: "nooc1";
    src: url("Poppins-Regular.ttf");
}
/* NAV BAR STYLE */
.section1{
    width: 100%;
    height: 100%;
    /* background-color:var(--color4); */
}
div.section1 div.container nav .logo{
    margin-left: 10%;
    margin-bottom: 7%;
    cursor: pointer;
}
div.section1 div.container nav{
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 150px 1fr;
    grid-template-rows: repeat(1,auto);
    justify-content: center;
    align-items: center;
    top:0;
    z-index: 1000;
    padding-left: 30px;
    margin-top: 2%;
}
.icon1 {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px; 
  background-color: var(--color5);
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--color3);
  border-radius: 50px;
  padding: 10px 15px;
  width: 100%;
}

.icon ion-icon {
  color: var(--color4);
  font-size: 20px;
  margin-right: 10px;
}

.icon input[type="search"] {
  border: none;
  background: transparent;
  outline: none;
  color: var(--color4);
  font-size: 16px;
  width: 100%;
}
div.section1 div.container nav ul.links{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: nowrap row;
    margin-left:15%;
    margin-bottom: 2%;
    transition: all 0.5s ease-in-out;
    border:none;

}
div.section1 div.container nav ul.links a {
    text-decoration: none;
    color: var(--color2);
    font-size: 17px;

}
div.section1 div.container nav ul.links a:hover{
    color: var(--color1);
}
div.section1 div.container nav ul.links div.profile{
     width: 115px;
height: 42px;
border-radius: 20px;
color: var(--color3);
font-size: 17px;
flex-flow: nowrap row;
    background-color: var(--color4);
    margin-left: 5%;
    margin-right: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
div.section1 div.container nav ul.links div.profile:hover{
    color: var(--color1);
}
 div.section1 div.container nav ul.links div.profile img{
    border-radius: 50%;
 }
 div.section1 div.container nav ul.links div.profile p{
    color: var(--color2);
    font-size: 17px;
 }

div.haye{
width: 89%;
height: 100%;
 margin:0 5%;
 padding-bottom:4%;
 margin-bottom: 3%;
border-radius: 20px;
    background-color: var(--color4);
    /* hero style */
}
div.section2{
   width: 100%;
    height:100% ;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6%;
   
    }
div.section2 div.container{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: none;
     background-image: url("banner-bg.jpg");
    padding-left: 5%;
    margin-top: 4%;
}
div.section2 div.container div.info{
padding: 0%;
margin: 0%;
}
div.section2 div.container div.info h2:nth-child(1){
 font-size: 24px;
 color: var(--color3);
padding-top: 9%;
padding-bottom: 2%;
font-family: "nooc1";
}
div.section2 div.container div.info h2:nth-child(2){
    font-size: 47px;
    color: var(--color3);
}
div.section2 div.container div.info h2:nth-child(2) span{
    color: var(--color1);
}
div.section2 div.container div.info button{
   width: 200px;
height: 42px;
border-radius: 20px;
border: none;
    background-color: var(--color1);
    color: var(--color3);
    margin-top: 3%;
    margin-bottom: 6%;
    font-size: 15px;
    cursor: pointer;
}
div.section2 div.container div.info button:hover{
    background-color: var(--color3);
    color: var(--color1);
}
 /* section three style */
 div.section3{
  width: 100%;
    height:100% ;

 }
 div.section3 div.container{
    background-color: var(--color5);
    overflow: hidden;
    width: 90%;
    height: 80%;
    margin: 0px 55px;
    border-radius: 5%;
  
 }
  
  div.section3 div.container h2:nth-child(1){
    color: var(--color3);
    font-weight: 900px;
    font-size: 30px;
    margin: 30px 50px;
  }
   div.section3 div.container h2:nth-child(1) span{
    color: var(--color1);
   }
div.section3 div.container div.parent{
    width: 100%;
    height: 100%;
    padding: 0px 30px;
}
div.section3 div.container div.parent div.child{
    display: inline-block;
    margin: 10px 10px;
    width: 22%;
    height: 11%;
    background-color: var(--color4);
    padding: 20px 28px;
    border-radius: 15%;
}
div.section3 div.container div.parent div.child img{
    width: 97%;
    height: 85%;
    border-radius: 10%;
}
div.section3 div.container div.parent div.child h2{
    font-size: 17px;
}


.child h3 {
  font-size: 0.9rem;
  color: #b5b5b5;
  margin: 0 0 0.6rem;
  font-weight: normal;
}


div.section3  button{
 width: 200px;
height: 42px;
border-radius: 20px;
background-color: var(--color1);
color: var(--color3);
font-size: 17px;
margin: 0% 40%;
margin-top: 3%; 
border: none;
cursor: pointer;
}
div.section3 div.container button:hover{
    background-color: var(--color3);
    color: var(--color1);
}
div.section4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.section4 div.container{
    padding: 0px 30px;
    width: 90%;
    height: 80%;
    margin: 0px 55px;
     padding: 0px 30px;
     margin-top: 5%;
    border-radius: 5%;
    background-color: var(--color5);
 
}
div.section4 div.container h2{
    font-size: 35px;
    font-weight: bolder;
    color: var(--color3);
    padding-top: 2%;
}
div.section4 div.container h2 span{
    color: var(--color1);
}
div.section4 div.container div.contents table tr td {
 padding: 30px 27px;   
 color: var(--color3);
 font-size: 18px;
}
div.section4 div.container div.contents table tr td p{
    color: var(--color2);
    font-size: 16px;
    padding-top: 6px;
}
div.section4 div.container div.contents table tr td img {
   border-radius: 25%; 
}
div.section4 div.container div.contents table tr td button{
 width: 180px;
height: 42px;
border-radius: 20px;
background-color: var(--color5);
color: var(--color3);
font-size: 17px;
border: 2px solid var(--color2);
cursor: pointer;
}
div.section4 div.container div.contents table tr td button:hover{
   color: var(--color1);
}
div.section4 div.container div.contents button{
    width: 200px;
height: 42px;
border-radius: 20px;
background-color: var(--color1);
color: var(--color3);
font-size: 17px;
margin: 0% 40%;
margin-top: 3%; 
border: none;
cursor: pointer; 
}
div.section4 div.container div.contents button:hover{
    background-color: var(--color3);
    color: var(--color1);
}
div.last{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}
div.last h2{
    color: var(--color3);
    font-size: 18px;
    font-weight: 100;
    margin: 1% 0%;
}
div.last h2 span{
    cursor: pointer;
}
div.last h2 span:hover{
    color: var(--color1);
}
@media (min-width: 350px) and ( max-width: 480px){
  .container{
      max-width: 400px;
  }
  div.section1 div.container nav .logo{
    width: 180px;
    margin-right:9%;
  }
  .icon{
     display: none;
  }
  div.section1 div.container nav{
    grid-template-columns: 300px 1fr;

  }
  div.section1 div.container nav ul.links{
         display: none;
  }
  div.section1 div.container nav ul.links a{
    font-size: 14px;
  }
  div.section2 div.container div.info h2:nth-child(1){
    font-size: 14px;
  }
  div.section2 div.container div.info h2:nth-child(2){
    font-size: 35px;
  }
  div.section3 div.container div.parent div.child h2{
    font-size: 13px;
}


.child h3 {
  font-size: 0.9rem;
}
  div.section2 div.container div.info button{
      width: 170px;
height: 37px;
font-size: 10px;
  }
   div.section3 div.container{
        margin: 0px 20px;
   }
     div.section3 div.container h2:nth-child(1){
          font-size: 17px;
     }
     div.section3 div.container div.parent div.child{
      margin: 8px 30px;
       padding: 16px 7px;
}
div.section3  button{
    width: 100px;
height: 35px; 
font-size: 10px;
margin: 0% 30%;
}

div.section4 div.container{
    padding: 0px 10px;  
}
div.section4 div.container h2{
   font-size: 20px;  
}
div.section4 div.container div.contents table tr{

        padding: 6px;
}
div.section4 div.container div.contents table tr td{
    padding: 20px 5px;   
     font-size: 12px;
}
div.section4 div.container div.contents table tr td p{
        font-size: 10px;
    padding-top: 3px;
}
div.section4 div.container div.contents table tr td img{
    margin-left: 10px;
}
div.section4 div.container div.contents table tr td button{
   width: 80px;
height: 23px; 
font-size: 11px; 
}
div.section4 div.container div.contents button{
     width: 140px;
height: 35px;
font-size: 11px;
margin: 0% 35%; 
}
div.last h2{
     font-size: 12px;
}
}

@media (min-width: 481px) and ( max-width: 767px){
  .container{
      max-width: 700px;
  }
  .icon{
     display: none;
  }
  div.section1 div.container nav{
    grid-template-columns: 300px 1fr;

  }
  div.section1 div.container nav ul.links{
         display: none;
  }
  div.section1 div.container nav ul.links a{
    font-size: 14px;
  }
  div.section2 div.container div.info h2:nth-child(1){
    font-size: 20px;
  }
  div.section2 div.container div.info h2:nth-child(2){
    font-size: 42px;
  }
  div.section2 div.container div.info button{
      width: 185px;
height: 37px;
font-size: 12px;
  }
   div.section3 div.container{
        margin: 0px 28px;
   }
     div.section3 div.container h2:nth-child(1){
          font-size: 25px;
     }
     div.section3 div.container div.parent div.child{
      margin: 8px 20px;
       padding: 16px 17px;
}
div.section3  button{
    width: 140px;
height: 35px; 
font-size: 13px;
margin: 0% 30%;
}

div.section4 div.container{
    padding: 0px 10px;  
}
div.section4 div.container h2{
   font-size: 27px;  
}
div.section4 div.container div.contents table tr{

        padding: 6px;
}
div.section4 div.container div.contents table tr td{
    padding: 20px 5px;   
     font-size: 14px;
}
div.section4 div.container div.contents table tr td p{
        font-size: 10px;
    padding-top: 3px;
}
div.section4 div.container div.contents table tr td img{
    margin-left: 10px;
}
div.section4 div.container div.contents table tr td button{
   width: 90px;
height: 30px; 
font-size: 13px; 
}
div.section4 div.container div.contents button{
     width: 150px;
height: 35px;
font-size: 13px;
margin: 0% 35%; 
}
div.last h2{
     font-size: 15px;
}
}

@media (min-width:  767px) and ( max-width: 992px){
  .container{
      max-width: 900px;
  }
  .icon1 {
  width: 230px;
  padding:0px  30px;
}div.section1 div.container nav{
 padding-left: 20px;
}
.icon ion-icon{
    font-size: 20px;
  margin-right:7px; 
}
.icon input[type="search"]{
      font-size: 12px;
}
div.section1 div.container nav ul.links a{
    font-size: 16px;
}
div.section1 div.container nav ul.links div.profile{
    width: 100px;
height: 42px;  
}
}
@media (min-width:  992px) and ( max-width: 1200px){
  .container{
      max-width: 1020px;
  }
  .icon1 {
  width: 230px;
  padding:0px  30px;
}
 
}
@media (min-width:  1200px) and ( max-width: 1400px){
  .container{
      max-width: 1200px;
}
}
